body {
    background-color:lightsteelblue;
}

/* this is the navigation (header) */
.title {
    text-align:center;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    font-size: 30px;
    color:rgb(65, 74, 83);
}

.list {
    display: flex;
    color: rgb(231, 220, 212);
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    border: dashed seashell;
    background-color: steelblue;
}

.list li {
    text-align: center;
    padding: 5px;
    font-size: 20px;
}

.list li a{
    color: rgb(231, 220, 212);
    text-decoration: none;
}

.list li a:hover{
    font-size: x-large;
}

.info {
    color:rgb(26, 32, 39);
}

/* this is the tableau (main body)*/
.tableau {
    resize: both;
    overflow: auto;
}

.descriptions {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(65, 74, 83);
}

.amazon {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
    color:rgb(209, 136, 0);
    font-weight: bold;
}

.amazon a{
    color: rgb(209, 136, 0);
    text-decoration: none;
    font-weight: bold;
}

.amazon a:hover {
    font-size: x-large;
}

/* This is the footer (at bottom)*/
.closer {
    text-align: center;
    position: relative;
    font-size: 20px;
    border:solid 2px seashell;
    background-color: steelblue;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 25px;
    color: rgb(231, 220, 212);
}   